[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
[submodule "third_party/mosquitto"]
	path = third_party/mosquitto
	url = https://github.com/eclipse/mosquitto.git
[submodule "third_party/rplidar_sdk"]
	path = third_party/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk
[submodule "third_party/MATLAB-SIMULINK-code-generation"]
	path = third_party/MATLAB-SIMULINK-code-generation
	url = https://github.com/kimjs98/MATLAB-SIMULINK-code-generation
