[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
[submodule "third_party/mosquitto"]
	path = third_party/mosquitto
	url = https://github.com/eclipse/mosquitto.git
[submodule "third_party/rplidar_sdk"]
	path = third_party/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk
